// 方式一:
// 定义一个列表
$widths: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400, 500, 600, 700,
  800, 900, 1000, 1200, 1250, 1300, 1400;
$heights: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400, 500;
$paddings: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100);
$margins: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100);
// 字体大小
$fonts: (8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40);

// 生成宽度类
@each $width in $widths {
  .w-#{$width} {
    width: #{$width}px;
  }
}
@each $height in $heights {
  .h-#{$height} {
    height: #{$height}px;
  }
}
// 生成上外边距类
@each $padding in $paddings {
  .pt-#{$padding} {
    padding-top: #{$padding}px;
  }
  .pl-#{$padding} {
    padding-left: #{$padding}px;
  }
  .pb-#{$padding} {
    padding-bottom: #{$padding}px;
  }
  .pr-#{$padding} {
    padding-right: #{$padding}px;
  }
  .px-#{$padding} {
    padding-left: #{$padding}px;
    padding-right: #{$padding}px;
  }
  .py-#{$padding} {
    padding-top: #{$padding}px;
    padding-bottom: #{$padding}px;
  }
  .pa-#{$padding} {
    padding-left: #{$padding}px;
    padding-right: #{$padding}px;
    padding-top: #{$padding}px;
    padding-bottom: #{$padding}px;
  }
}

// 生成上内边距类
@each $margin in $margins {
  .mt-#{$margin} {
    margin-top: #{$margin}px;
  }
  .ml-#{$margin} {
    margin-left: #{$margin}px;
  }
  .mb-#{$margin} {
    margin-bottom: #{$margin}px;
  }
  .mr-#{$margin} {
    margin-right: #{$margin}px;
  }
  .mx-#{$margin} {
    margin-left: #{$margin}px;
    margin-right: #{$margin}px;
  }
  .my-#{$margin} {
    margin-top: #{$margin}px;
    margin-bottom: #{$margin}px;
  }
  .ma-#{$margin} {
    margin-left: #{$margin}px;
    margin-right: #{$margin}px;
    margin-top: #{$margin}px;
    margin-bottom: #{$margin}px;
  }
}

// 生成宽度类
@each $font in $fonts {
  .fs#{$font} {
    font-size: #{$font}px;
  }
}
