<!DOCTYPE html>
<html>
  <head>
    <title><%= TITLE %></title>

    <meta charset="utf-8">
    <meta name="keyword" content="测试项目-keyword">
    <meta name="theme-color" content="#2f4154">
    <meta name="description" content="测试-description,为你我贡献经验，主要分享Linux、macOS的使用教程">
    <meta name="author" content="Mintimate">
    <meta name="keywords" content="代码,Java,macOS,前端,后端,博客,Linux,服务器">
    <!--类型-->
    <meta property="og:type" content="website"/>
    <!--标题-->
    <meta property="og:title" content="home - home空间站"/>
    <!--描述信息-->
    <meta property="og:description" content="测试-description,为你我贡献经验，主要分享Linux、macOS的使用教程"/>
    <!--图片-->
    <meta property="og:image" content="/img/default.png"/>
    <!--文章链接-->
    <meta property="og:url" content="https://www.mintimate.cn/categories/"/>
    <!--宽-->
    <meta property="og:width" content="300" />
    <!--高-->
    <meta property="og:height" content="600" />
    <meta name="title" content="<%= TITLE %>">
    <meta name="version-date" content="<%= VERSION_DATE %>">
    <meta name="version-tag" content="<%= TAG %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover <% } %>">

    <link rel="icon" type="image/ico" content="<%= ICON %>" >
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
