.text-red {
  color: red;
}
.text-green {
  color: green;
}
.text-blue {
  color: blue;
}
.text-skyblue {
  color: skyblue;
}
.text-with {
  color: #fff;
}
.bg-red {
  background-color: red;
}
.bg-pr {
  background-color: #00ffbb;
}
.bg-back {
  background-color: #000000;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}

.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
