body {
  --bb-color-info: #f5b18a;
  --bb-color-warning: #f2c037;
  --bb-color-dark: #1d1d1d;
  --bb-color-dark-page: #121212;
  --bb-color-pink: pink;
  --bb-active-box-shadow-4: rgba(0, 0, 0, 0.3);
}

:root {
  --rr-color-red: rgb(210, 25, 25);
  --rr-color-primary: rgb(25, 117, 210);
  --rr-color-secondary: hsl(174, 85%, 81%);
  --rr-color-accent: rgb(230, 173, 240);
  --rr-color-positive: rgb(33, 186, 69);
  --rr-color-info: rgb(216, 99, 31);
}
